# Binaries
**/bin/
bin-int/

# Waffle log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

scripts/__pycache__
Waffle/vendor/VulkanSDK
Waffle-Editor/assets/cache