[submodule "Waffle/vendor/spdlog"]
	path = Waffle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Waffle/vendor/GLFW"]
	path = Waffle/vendor/GLFW
	url = https://github.com/Olaverbest/glfw
[submodule "Waffle/vendor/imgui"]
	path = Waffle/vendor/imgui
	url = https://github.com/ocornut/imgui.git
