[submodule "Waffle/vendor/GLFW"]
	path = Waffle/vendor/GLFW
	url = https://github.com/Olaverbest/glfw
	branch = master
[submodule "Waffle/vendor/imgui"]
	path = Waffle/vendor/imgui
	url = https://github.com/Olaverbest/imgui.git
	branch = docking
[submodule "Waffle/vendor/glm"]
	path = Waffle/vendor/glm
	url = https://github.com/Olaverbest/glm
[submodule "Waffle/vendor/yaml-cpp"]
	path = Waffle/vendor/yaml-cpp
	url = https://github.com/Olaverbest/yaml-cpp
[submodule "Waffle/vendor/ImGuizmo"]
	path = Waffle/vendor/ImGuizmo
	url = https://github.com/Olaverbest/ImGuizmo
[submodule "Waffle/vendor/spdlog"]
	path = Waffle/vendor/spdlog
	url = https://github.com/gabime/spdlog